@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, rgb(0, 0, 0));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
    margin: 20px 0; /* Add margin to the top and bottom */
}

.container {
 
    background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 20px; /* Add margin for better spacing */
}

.index {
 
    background-color: rgba(0, 0, 0, 0.8); /* Adjust opacity as needed */
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
    margin: 20px; /* Add margin for better spacing */
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

input:focus,
textarea:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.8);
}

button {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: 16px;
    background-color: #f0463d;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e71300;
}

#output {
    margin-top: 20px;
    font-size: 24px;
    font-weight: 600;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto; /* Center the image */
}

#downloadLink {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    background-color: #89a0f9;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#downloadLink:hover {
    background-color: #1e3ac4;
}

.home span{
    color: var(--dark-black);
}
.home {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999; /* Ensure it's above other elements */
}

.material-icons-outlined {
    font-size: 24px; /* Adjust icon size if needed */
    color: var(--dark-black); /* Assuming you have defined this color variable */
}
.navigation{
    padding: 20px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-right{
    display:flex;
    justify-content: space-evenly;
}
.nav-right span{
    padding: 0.4375rem;
    cursor: pointer;
    font-size: 1.5rem;
}
